doctype html
html
  head
    title= title
    link(rel="stylesheet", href='//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    block content
    script(src='//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
    block scripts
