extends layout

block content
    form.form-horizontal(method='post' action='/login' enctype="application/x-www-form-urlencoded")
        div.form-group
            label.col-sm-2.control-label(for="email") Email
            div.col-sm-10
                input.form-control#email(type="email"  placeholder="Email")
        div.form-group
            label.col-sm-2.control-label(for="password") Password
            div.col-sm-10
                input.form-control#password(type="password" placeholder="Password")
        div.form-group
            div.col-sm-offset-2.col-sm-10
                div.checkbox
                    label(for='remember')
                        input#remember(type="checkbox")
                        .
                            Remember Me
        div.form-group
            div.col-sm-offset-2.col-sm-10
                button.btn.btn-default(type="submit") 登录
